page-tabs {
.tabs-md .tab-button {
    min-height: 5.6rem;
    font-weight: normal;
    color: rgba(241, 235, 235, 0);
    padding: 0;
    background-color:greenyellow;
}
.tab-button-icon icon icon-md ion-md-cart{
    color:black;
}
.tabs-md .tabbar {
    height: 2.5em;
}

ion-icon {
    display: inline-block;
    zoom: 1;
    padding-bottom: 10px;
}

}