page-shakes {
    .toolbar-background {
        background-color: greenyellow;
    }

    .toolbar-md {
        padding: 0;
        min-height: 2.3em;
      }

    .toolbar-title-md {
        font-size: 1em;
        font-weight: 300;
        color: #424242;
    }
    ion-label    {
        color: #000000fb;
        font-size: 12px;
    }

    ion-title    {
        margin-left: 50px;
    }

    button {
        padding-top: 3px;
        zoom: 0.7;
    }
    page-tabs ion-icon {
        display: table-row;
        zoom: 0.7;
    }

    ion-item {
        height: 6em; /* <- this can be whatever you need */
        }

        .item-md ion-avatar img {
            border-radius: 50%;
            overflow: hidden;
            width: 50px;
            max-width: 50px;
            height: 50px;
        }
    
    .selector {
        font-family: SFNSDisplay;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.1px;
        padding: 5px ;
        color: #29235e;
        width: 25% !important;
        max-width: 25% !important;
        justify-content: center;
        border: solid 1px #e8ebf0;
        background-color: #ffffff;
        text-align: center;
      }
      .option {
        font-family: SFNSDisplay;
        font-size: 8px;
        line-height: 1.2;
        letter-spacing: 0.1px;
        color: #29235e;
        width: 100% !important;
        max-width: 100% !important;
        justify-content: center;
        height: 20px;
      }
    
}
